<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket creation form</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">

</head>
<body>
<h1>Form</h1>
<form >
    <p>reporter: <input type="text" /></p>
    <p>project: <input type="text"  /></p>
    <p>assignee: <input type="text" /></p>
    <p>status: <input type="text"  /></p>
    <p>subject: <input type="text"  /></p>
    <p>description: <input type="text"   /></p>
    <p>comments: <input type="text" /></p>
    <p>file: <input type="image" /></p>
    <p><input type="submit" value="Submit" />  /></p>
</form>
</body>
</html>