<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket ${ticket.id}</title>
</head>
<body>
<h1>Form</h1>

<form action="#" th:action="@{/ticket/update}" th:object="${ticket}" method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{reporter.id}" />
    <p>reporter: <input type="text" th:field="*{reporter.login}" /></p>
    <input type="hidden" th:field="*{project.id}" />
    <p>project: <input type="text" th:field="*{project.description}" /></p>
    <input type="hidden" th:field="*{assignee.id}" />
    <p>assignee: <input type="text" th:field="*{assignee.login}"/> <a th:href="@{'/users/' + ${ticket.id}}">assign user</a></p>
    <input type="hidden" th:field="*{status.id}" />
    <p>status: <input type="text" th:field="*{status.status}" /></p>
    <p>subject: <input type="text" th:field="*{subject}" /></p>
    <p>description: <input type="text"  th:field="*{description}" /></p>

    <p>comments: </p>
    <div th:each="comment, itemStat: ${ticket.comments}">
        <td><input type="hidden" th:field="*{comments[__${itemStat.index}__].id}" /></td>
        <td><input type="hidden" th:field="*{comments[__${itemStat.index}__].ticketId}" /></td>
        <textarea rows="4" cols="50" th:field="*{comments[__${itemStat.index}__].text}" ></textarea>
    </div>
    <p>file: <input type="file" th:field="*{files}" /></p>
    <p><input type="submit" value="Submit" /> </p>
</form>
</body>
</html>